.t3-form-field-label-flexsection {
	padding-left: 5px;
}

.t3-form-field-label-flexsection strong {
	font-weight: normal;
}

.buttongroup a.dcePopupButton {
	position: absolute;
}

/*
 * Simple Backend View
 */
table.dceSimpleBackendView {
	width: 100%;
}

strong.dceHeader {
	display: inline-block;
	margin-bottom: 5px;
}

table.dceSimpleBackendView td.dceFull {
	padding: 5px 0;
}

table.dceSimpleBackendView td.dceFieldTitle {
	padding: 5px 8px 5px 0;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

table.dceSimpleBackendView td.dceFieldValue {
	padding: 5px 0 5px;
	width: 80%;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

table.dceSimpleBackendView tr:last-child td.dceFieldTitle,
table.dceSimpleBackendView tr:last-child td.dceFieldValue {
	border-bottom: none;
}

img.dceFieldImage {
	margin: 0 4px 4px 0;
}
